input {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
}

h1, h2, h3, h3, h4, h5, h6 body, p {
  margin: 0 !important;
  padding: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .bar {
    background-image: none !important;
    background: #fff;
    height: 44px !important;
    overflow: hidden;
  }
}

.bar {
  margin: 0;
  background: #fff url("../img/login_bg_line.png") repeat-x bottom !important;
  background-size: 500px 3px !important;
  text-align: center !important;
  font-weight: bold;
}

.tabTitle {
  width: 100%;
  height: 43px;
  text-align: center;
  font-weight: bold;
  position: absolute;
}

.bar .title.title-left {
  width: 100%;
  margin-left: 0;
  left: 0 !important;
}

.title-left {
  text-align: center;
}

@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1460096228'); /* IE9*/
  src: url('iconfont.eot?t=1460096228#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1460096228') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1460096228') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1460096228#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-21:before {
  content: "\e602";
}

.icon-22:before {
  content: "\e603";
}

.icon-12:before {
  content: "\e601";
}

.icon-11:before {
  content: "\e600";
}

.icon-31:before {
  content: "\e604";
}

.icon-32:before {
  content: "\e605";
}

.icon-41:before {
  content: "\e606";
}

.icon-42:before {
  content: "\e607";
}

.tab-item .icon {
  font-size: 28px;
  line-height: 32px;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  background: #fff;
  color: #808080;
  border-top: 1px solid #d6d6d6 !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #3d7eeb;
}

.bar .button.back-button, .bar button.back-button {
  color: #0079ff;
}

.loginWrap {
  background: url("../img/login_bg.png") no-repeat;
  background-size: cover;
  .padding {
    padding-top: 0;
  }
  .line {
    background: #0d7af5;
    height: 3px;
  }
  .list {
    padding: 0 20px;
    border: 0;
    margin-bottom: 10px;
    .platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before {
      margin-top: 18%;
    }
    .checkbox input:before, .checkbox-icon:before {
      background: transparent;
      border: 1px solid #007aff;

    }
    .item-checkbox .checkbox {
      margin-top: -23px;
      left: 5px;
    }

    .item {
      .input-label {
        width: 25%;
      }
      border-width: 0 !important;
      border-bottom: 1px solid #b2b2b2 !important;

    }
    .item-input {
      background: none;
      margin-top: 15px;
      padding-left: 5px !important;
      input {
        font-size: 14px !important;
        height: 25px;
      }
    }
    .remberMe {
      background: transparent !important;
      border-bottom: 0 !important;
      margin-top: 15px;
      padding: 10px;
      padding-left: 50px;
      font-size: 14px;
    }
  }
  .logoWrap {
    background: url(../img/login_logo2.png) no-repeat;
    width: 229px;
    margin: 0 auto;
    height: 87.5px;
    background-size: cover;
    margin-top: 20px;
  }
  .otherButton {
    margin-top: 20px;
    .left {
      float: left;
      padding-left: 10px;
    }
    .right {
      float: right;
      padding-right: 10px;
    }
    a {
      font-size: 14px;
    }
  }
  .description {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 5px;
    p {
      line-height: 150%;
      color: #808080;
      font-size: 12px;
    }
  }
}

.catalogList {
  .list {
    img {
      height: 90px;
      float: left;
      margin-right: 10px;
    }
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #000;
    }
    .desc {
      padding-top: 8px;
      color: #7b7c7d;
      font-size: 14px;
    }
  }
}

.zoom {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  background: #333;
  opacity: .5;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  z-index: 99999999;
  &.big {
    bottom: 50px;
  }
  &.small {
    bottom: 10px;
  }
}

.clearInput {
  width: 15px;
  height: 15px;
  text-align: center;
  background: #8f8f8f;
  color: #fff;
  font-size: 11px;
  line-height: 15px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 10000;
  &:after {
    content: "x";
  }
}

#page-container {
  background: none !important;
}

.item-content {
  height: 100%;
}

/**swiper**/
.swiper-container {
  overflow: auto;
}

.swiper-slide {
  .spinner {
    text-align: center;
    padding-top: 10%;
    color: #666;
  }
}

.swiper-pagination-progress {
  opacity: .8 !important;
  width: 100% !important;
  height: 2px !important;
  .swiper-pagination-progressbar {
    background: #34cca7 !important;
  }
}

.homeHeader {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 17px;
  height: 44px;
  overflow: hidden;
  img {
    width: 31px;
    position: relative;
    top: 7px;
  }
}

.homeWrap {
  .content {
    background: url("../img/list_bg_dark.png") no-repeat;
    background-size: cover;
    .col {
      img {
        border: 1px solid #eeeae6;
        border-radius: 10px;
        width: 100%;
      }
    }
  }

}

.innerHeader {
  background: #fff url("../img/login_bg_line.png") repeat-x bottom !important;
  background-size: 500px 3px !important;
  .bar {
    .title {
      &.title-left {
        text-align: center;
        font-weight: bold;
        left: 0 !important;
        width: 100%;
      }
    }
  }
}

.resourceBg {
  background: url("../img/list_bg_light.png") no-repeat;
  background-size: cover;
}

.jouneryList {
  .list {
    .bookStore {
      background: url("../img/list_bg_line.png") repeat-x center 94px;
      background-size: 420px 22.5px;
      text-align: justify;
      .bookStoreLayout {
        width: 320px;
        margin: 0 auto;
      }
      p {
        text-align: center;
        font-size: 12px;
      }
      .item {
        display: inline-block;
        border: 0;
        background: none;
        width: 105px;
        height: 160px;
        p {
          text-align: left;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

.booksList {
  .list {
    img {
      float: left;
      margin-right: 10px;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
    }
    .desc {
      font-size: 12px;
      color: #6d6e70;
    }
    .item {
      bordre-bottom: 1px solid #c8c8c9;
      .activated {
        background: #f1f1f1;
      }
    }
  }
}

.favWrap {
  .innerHeader {
    .buttons {
      width: 100%;
      .left-buttons {
        width: 60%;
        margin: 0 auto;
      }
    }
    button {
      background: #fff;
      display: inline-block;
      border: 1px solid #007aff;
      width: 156px !important;
      height: 28px !important;
      min-height: 28px;
      line-height: 28px;
      color: #007aff;
      &.active {
        background: #1588f0;
        color: #fff;
      }
      &.article {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &.books {;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.personalWrap {
  .list {
    .item {
      font-size: 14px;
      color: #353535;
    }
    .icon {
      font-size: 14px;
      color: #353535;
    }
    .ion-chevron-right {
      margin-left: 5px;
      &:before {
        font-size: 18px !important;
        color: #c7c7cc;
        font-weight: normal;
      }
    }
  }
}

.personalEdit {
  .bar-header {
    background: #fff url("../img/login_bg_line.png") repeat-x bottom !important;
    background-size: 480px 3px !important;
  }
  button {
    background-color: #fff;
  }
  .bar {
    background: #fff;
  }
}

.pdfViewModal {
  button {
    background: #fff;
    color: #0079ff !important;
    font-size: 17px !important;
    span {
      margin-right: 5px;
    }
  }
  .bar .title.title-left {
    text-align: center;
  }
  #page-container {
    padding-top: 10px;
  }
}

.searchWrap {
  height: 31px;
  line-height: 31px;
  width: 95%;
  margin: 10px auto 0 auto;
  font-size: 12px;
  color: #ababae;
  text-align: center;
  border-radius: 5px;
  background: #eee;
  display: block;
  &.activated {
    background: #f1f1f1;
  }
  span {
    background: url("../img/Search_icon.png") no-repeat;
    background-position: 0 1px !important;
    background-size: 12.5px auto !important;
    padding-left: 18px;
  }
}

.searchHeader {
  height: 90px !important;
  h1 {
    .bar {
      background: none !important;
    }
  }
  .tabsWrap {
    position: absolute;
    top: 46px;
    width: 100%;
  }

  .button-bar {
    width: 60%;
    margin: 0 auto;
    .button {
      height: 28px;
      line-height: 28px;
      min-height: 28px;
      border: 1px solid #007aff;
      &.active {
        background: #1588f0;
        color: #fff;
      }
    }
    .button:first-child {
    }
    .button:last-child {
      border-left: 0;
    }
  }
}

.searchContent {
  &.has-header {
    top: 90px;
  }
}

.outButton {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

@media (min-width: 680px) {
  .modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}