input {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none; }

h1, h2, h3, h3, h4, h5, h6 body, p {
  margin: 0 !important;
  padding: 0; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 !important; }

a {
  text-decoration: none; }

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .bar {
    background-image: none !important; } }
.bar .title {
  margin: 0;
  background-image: none !important; }

.loginWrap {
  background: url("../img/login_bg.png") no-repeat;
  background-size: cover; }
  .loginWrap .padding {
    padding-top: 0; }
  .loginWrap .line {
    background: #0d7af5;
    height: 3px; }
  .loginWrap .list {
    padding: 0 20px;
    border: 0;
    margin-bottom: 10px; }
    .loginWrap .list .platform-android .checkbox-platform input:before, .loginWrap .list .platform-android .checkbox-platform .checkbox-icon:before, .loginWrap .list .checkbox-square input:before, .loginWrap .list .checkbox-square .checkbox-icon:before {
      margin-top: 18%; }
    .loginWrap .list .checkbox input:before, .loginWrap .list .checkbox-icon:before {
      background: transparent;
      border: 1px solid #007aff; }
    .loginWrap .list .item-checkbox .checkbox {
      margin-top: -23px;
      left: 5px; }
    .loginWrap .list .item {
      border-width: 0 !important;
      border-bottom: 1px solid #b2b2b2 !important; }
      .loginWrap .list .item .input-label {
        width: 25%; }
    .loginWrap .list .item-input {
      background: none;
      margin-top: 15px;
      padding-left: 5px !important; }
      .loginWrap .list .item-input input {
        font-size: 14px !important;
        height: 25px; }
    .loginWrap .list .remberMe {
      background: transparent !important;
      border-bottom: 0 !important;
      margin-top: 15px;
      padding: 10px;
      padding-left: 50px;
      font-size: 14px; }
  .loginWrap .logoWrap {
    background: url(../img/login_logo2.png) no-repeat;
    width: 229px;
    margin: 0 auto;
    height: 87.5px;
    background-size: cover;
    margin-top: 20px; }
  .loginWrap .otherButton {
    margin-top: 20px; }
    .loginWrap .otherButton .left {
      float: left;
      padding-left: 10px; }
    .loginWrap .otherButton .right {
      float: right;
      padding-right: 10px; }
    .loginWrap .otherButton a {
      font-size: 14px; }
  .loginWrap .description {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 5px; }
    .loginWrap .description p {
      line-height: 150%;
      color: #808080;
      font-size: 12px; }

.zoom {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  background: #333;
  opacity: .5;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  z-index: 99999999; }
  .zoom.big {
    bottom: 50px; }
  .zoom.small {
    bottom: 10px; }

.clearInput {
  width: 15px;
  height: 15px;
  text-align: center;
  background: #8f8f8f;
  color: #fff;
  font-size: 11px;
  line-height: 15px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 10000; }
  .clearInput:after {
    content: "x"; }

#page-container {
  background: none !important; }

.item-content {
  height: 100%; }

.swiper-container {
  overflow: auto; }

.swiper-slide .spinner {
  text-align: center;
  padding-top: 10%;
  color: #666; }

.homeHeader {
  display: block;
  width: 100%;
  background: url("../img/login_bg_line.png") no-repeat center bottom;
  background-size: 375px 3px;
  text-align: center;
  font-size: 16px;
  height: 43px;
  overflow: hidden; }
  .homeHeader img {
    width: 30px;
    position: relative;
    top: 8px; }

.homeWrap .content .col img {
  width: 100%; }

@media (min-width: 680px) {
  .modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important; }

  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }

  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px; }

  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px; } }

/*# sourceMappingURL=style.css.map */
