input {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
}

h1, h2, h3, h3, h4, h5, h6 body, p {
  margin: 0 !important;
  padding: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 !important;
}

a {
  text-decoration: none;
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .bar {
    background-image: none !important;
    height: 44px !important;
    overflow: hidden;
  }
}

.bar .title {
  margin: 0;
  background: url("../img/login_bg_line.png") repeat-x bottom;
  background-size: 500px 3px !important;
  text-align: center !important;
  font-weight: bold;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  background: #fff;
  color: #808080;
  border-top: 1px solid #d6d6d6 !important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #3d7eeb;
}

.bar .button.back-button, .bar button.back-button {
  color: #0079ff;
}

.loginWrap {
  background: url("../img/login_bg.png") no-repeat;
  background-size: cover;
  .padding {
    padding-top: 0;
  }
  .line {
    background: #0d7af5;
    height: 3px;
  }
  .list {
    padding: 0 20px;
    border: 0;
    margin-bottom: 10px;
    .platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before {
      margin-top: 18%;
    }
    .checkbox input:before, .checkbox-icon:before {
      background: transparent;
      border: 1px solid #007aff;

    }
    .item-checkbox .checkbox {
      margin-top: -23px;
      left: 5px;
    }

    .item {
      .input-label {
        width: 25%;
      }
      border-width: 0 !important;
      border-bottom: 1px solid #b2b2b2 !important;

    }
    .item-input {
      background: none;
      margin-top: 15px;
      padding-left: 5px !important;
      input {
        font-size: 14px !important;
        height: 25px;
      }
    }
    .remberMe {
      background: transparent !important;
      border-bottom: 0 !important;
      margin-top: 15px;
      padding: 10px;
      padding-left: 50px;
      font-size: 14px;
    }
  }
  .logoWrap {
    background: url(../img/login_logo2.png) no-repeat;
    width: 229px;
    margin: 0 auto;
    height: 87.5px;
    background-size: cover;
    margin-top: 20px;
  }
  .otherButton {
    margin-top: 20px;
    .left {
      float: left;
      padding-left: 10px;
    }
    .right {
      float: right;
      padding-right: 10px;
    }
    a {
      font-size: 14px;
    }
  }
  .description {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 5px;
    p {
      line-height: 150%;
      color: #808080;
      font-size: 12px;
    }
  }
}

.catalogList {
  .list {
    img {
      height: 90px;
      float: left;
      margin-right: 10px;
    }
    .title {
      font-size: 16px;
      font-weight: bold;
      color: #000;
    }
    .desc {
      padding-top: 8px;
      color: #7b7c7d;
      font-size: 14px;
    }
  }
}

.zoom {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  background: #333;
  opacity: .5;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  z-index: 99999999;
  &.big {
    bottom: 50px;
  }
  &.small {
    bottom: 10px;
  }
}

.clearInput {
  width: 15px;
  height: 15px;
  text-align: center;
  background: #8f8f8f;
  color: #fff;
  font-size: 11px;
  line-height: 15px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 10000;
  &:after {
    content: "x";
  }
}

#page-container {
  background: none !important;
}

.item-content {
  height: 100%;
}

.swiper-container {
  overflow: auto;
}

.swiper-slide {
  .spinner {
    text-align: center;
    padding-top: 10%;
    color: #666;
  }
}

.homeHeader {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 17px;
  height: 44px;
  overflow: hidden;
  img {
    width: 31px;
    position: relative;
    top: 7px;
  }
}

.homeWrap {
  .content {
    background: url("../img/list_bg_dark.png") no-repeat;
    background-size: cover;
    .col {
      img {
        border: 1px solid #eeeae6;
        border-radius: 10px;
        width: 100%;
      }
    }
  }

}

.innerHeader {
  background: url("../img/login_bg_line.png") repeat-x bottom !important;
  background-size: 500px 3px !important;
  .bar {
    .title {
      &.title-left {
        text-align: center;
        font-weight: bold;
        left: 0 !important;
        width: 100%;
      }
    }
  }
}

.resourceBg {
  background: url("../img/list_bg_light.png") no-repeat;
  background-size: cover;
}

.jouneryList {
  .list {
    .item {
      display: inline-block;
      border: 0;
      background: none;
      width: 105px;
      img {
        width: 100%;
      }
    }
  }
  .bookStore {
    background: url("../img/list_bg_line.png") repeat-x center 94px;
    background-size: auto 22.5px;
    text-align: left;
    p {
      text-align: center;
    }
  }
}

@media (min-width: 680px) {
  .modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}