<ion-modal-view>
    <ion-content class="loginWrap" overflow-scroll="true" scroll="true">
        <div class="line"></div>
        <div class="logoWrap"></div>
        <div class="list">
            <label class="item item-input">
                <!--<span class="input-label">身份证号</span>-->
                <input placeholder="请输入身份证号" type="text" ng-model="vm.loginInfo.username">
            </label>
            <label class="item item-input">
                <!--<span class="input-label">密码</span>-->
                <input placeholder="请输入密码" type="password" ng-model="vm.loginInfo.password">
            </label>
            <ion-checkbox class="remberMe" on-tap="vm.collect.checkMe()" ng-model="vm.loginInfo.remberMe">下次自动登录
            </ion-checkbox>

        </div>

        <div class="padding">
            <button class="button button-block button-positive" on-tap="vm.collect.login()">登录</button>
            <div class="otherButton"><a href="javascript:void(0)" class="left" on-tap="vm.collect.forget()">忘记密码</a>
                <a class="right" on-tap="vm.collect.guestLogin()">游客登录</a>
            </div>
        </div>

        <div class="description">
            <p>CSA有效会员，可直接登录，</p>
            <p>用户名和初始密码均为身份证号。</p>
            <p>申请会员请登录中华口腔医学会会员服务网注册</p>
            <p><a href="tel:01062116665258">（010-621 16665-258）</a></p>
        </div>
    </ion-content>
</ion-modal-view>