<ion-modal-view class="pdfViewModal">
    <ion-header-bar align-title="left" id="pdfViewHeader">
        <div class="buttons">
            <button class="button" on-tap="vm.collect.closePdfModal()"><span class="ion-chevron-left"></span>返回</button>
        </div>
        <h1 class="title" ng-bind-html="pdfViewTitle | displayNameFilter | barTitleFilter"></h1>
        <div class="buttons" ng-show="vm.collect.isShowWatch">
            <button class="button" on-tap="vm.collect.actionSheet()">...</button>
        </div>
    </ion-header-bar>
    <ion-content scroll="false" overflow-scroll="false">

        <view-pdf></view-pdf>

        <!--<view-pdf ng-model="vm.collect.htmlCode"></view-pdf>-->
        <!--<div ng-bind-html="vm.collect.styleOutLine"></div>-->
        <!--<div ng-bind-html="vm.collect.content"></div>-->
        <!--<div class="swiper-container">-->
        <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide" ng-repeat="item in vm.collect.items" on-finish-render>-->
        <!--<div class="spinner">加载中...</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Add Pagination &ndash;&gt;-->
        <!--<div class="swiper-pagination"></div>-->
        <!--<div id="outline" style="display: none"></div>-->

        <!--</div>-->

        <!--<div ng-bind-html="vm.collect.content"></div>-->
        <!--<iframe allowTransparency="true" src="{{vm.collect.frameSrc}}" frameborder="0"-->
        <!--scrolling="no" class="viewFrame"></iframe>-->
    </ion-content>
    <a href="javascript:void(0)" class="zoom big" on-tap="zoom('big')"
       ng-show="showZoom">+</a>
    <a href="javascript:void(0)" class="zoom small" on-tap="zoom('small')"
       ng-show="showZoom">-</a>
</ion-modal-view>