<ion-view view-title="">
    <ion-nav-bar class="innerHeader">
        <ion-nav-title ng-bind-html="vm.collect.title">

        </ion-nav-title>
        <ion-nav-back-button on-tap="vm.collect.goBack()">
            返回
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button" on-tap="vm.collect.search()" ng-if="vm.collect.listCss">
                搜索
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="resourceBg">
        <ion-refresher
                pulling-text="下拉刷新"
                on-refresh="vm.collect.doRefresh()">
        </ion-refresher>

        <ion-list ng-if="vm.collect.listCss" class="booksList">
            <ion-item ng-repeat="res in vm.collect.resourceList">
                <div on-hold="vm.collect.onHold(res.id)" ng-if="res.type == 1"
                     ui-sref="tabs.resourceList({parentId:res.id,title:res.displayName,type:'list'})">
                    <img ng-src="{{vm.collect.defaultPic}}" width="65"/>
                    <p class="title" ng-bind-html="res.displayName"></p>
                    <p class="desc" ng-bind-html="'作者：' + (res.author=='' ? '佚名' : res.author)"></p>
                    <p class="desc" ng-bind-html="res.desc=='' ? '暂无描述' : res.desc"></p>
                </div>
                <div on-hold="vm.collect.onHold(res.id,res.watchId,$event)"
                     ng-if="res.type == 2 && res.name.indexOf('html') > -1"
                     on-tap="vm.collect.openModal(res.id,res.displayName,res.watchId,$event)"
                     ng-bind-html="res.displayName | displayNameFilter">
                </div>
                <div on-hold="vm.collect.onHold(res.id,res.watchId,$event)"
                     ng-if="res.type == 2 && res.name.indexOf('mp4') > -1"
                     on-tap="vm.collect.openMediaModal(res.id,res.displayName)"
                     ng-bind-html="res.displayName | displayNameFilter">
                </div>
                <!--<div ng-if="res.type == 2" on-tap="vm.collect.openModal(res.id,res.title)">-->
                <!--{{res.displayName}}-->
                <!--</div>-->
            </ion-item>
        </ion-list>


        <!--<ion-list ng-if="vm.collect.articleCss">-->
        <!--<div ng-repeat="res in vm.collect.resourceList">-->
        <!--<ion-item on-hold="vm.collect.onHold(res.id)">-->
        <!--<div ng-if="res.type == 2" on-tap="vm.collect.openModal(res.id,res.displayName)"-->
        <!--ng-bind-html="res.displayName">-->
        <!--</div>-->
        <!--</ion-item>-->
        <!--</div>-->
        <!--</ion-list>-->


        <ion-list ng-if="vm.collect.articleCss">
            <ion-item collection-repeat="res in vm.collect.resourceList">
                <div on-hold="vm.collect.onHold(res.id,res.watchId,$event)"
                     ng-if="res.type == 2 && res.name.indexOf('html') > -1"
                     on-tap="vm.collect.openModal(res.id,res.displayName,res.watchId,$event)"
                     ng-bind-html="res.displayName | displayNameFilter">
                </div>
                <div on-hold="vm.collect.onHold(res.id,res.watchId,$event)"
                     ng-if="res.type == 2 && res.name.indexOf('mp4') > -1"
                     on-tap=""
                     ng-bind-html="res.displayName | displayNameFilter">
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                immediate-check="false"
                on-infinite="vm.collect.loadMore()"
                distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
