<ion-view view-title="{{title}}">
    <ion-nav-bar>
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="group in groupList">
                <div ng-if="group.type == 'group'"
                     ui-sref="tabs.resourceList({parentId:-group.id,title:group.displayName})">
                    {{group.displayName}}
                </div>
                <div ng-if="group.type == 'category'" ng-click="navToJournal(group.id)">{{group.displayName}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>

