<ion-view view-title="期刊">
    <ion-header-bar align-title="left">
        <h1 class="title">期刊</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="group in groupList">
                <div ng-if="group.type == 'group'" ui-sref="tabs.resourceList({groupId:group.id,parentId:group.id})">
                    {{group.displayName}}
                </div>
                <div ng-if="group.type == 'category'" ng-click="navToJournal(group.id)">{{group.displayName}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>

