<ion-view view-title="口腔信息云">
    <ion-nav-title>
        Logo口腔信息云
    </ion-nav-title>
    <!--<ion-header-bar align-title="left">-->
    <!--<h1 class="title">LOGO</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <div class="row">
            <div class="col" ng-click="vm.collect.goToList(vm.collect.journalID,'期刊')">期刊</div>
            <div class="col">图书</div>
        </div>
        <div class="row">
            <div class="col">资讯</div>
            <div class="col">培训</div>
        </div>
        <!--<div ng-click="goFar()">期刊A</div>-->
    </ion-content>
</ion-view>

