<ion-view view-title="消息" cache-view="false" class="infoWrap">
    <ion-nav-title>
        <div class="tabTitle">消息</div>
    </ion-nav-title>
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新"
                on-refresh="vm.collect.doRefresh()">
        </ion-refresher>
        <ion-list can-swipe="true">
            <ion-item collection-repeat="item in vm.collect.items">
                <div class="infoList" ng-if="item.type == 1"
                     on-tap="vm.collect.readBooks(item.resourceId,item.displayName)">
                    <div class="infoHeader"><span class="left" ng-bind-html="'发布者：'+item.provider"></span><span
                            class="right" ng-bind-html="item.shareDate"></span></div>
                    <div ng-bind-html="item.displayName | displayNameFilter" class="title"></div>
                    <div ng-bind-html="item.remark ==0 ? '...' : item.remark" class="desc"></div>
                    <ion-option-button class="button-assertive" on-tap="vm.collect.removeMessage(item.id)">删除
                </div>
                <div class="infoList" ng-if="item.type == 2"
                     on-tap="vm.collect.openModal(item.resourceId,item.displayName,'',$event)">
                    <div class="infoHeader"><span class="left" ng-bind-html="'发布者：'+item.provider"></span><span
                            class="right" ng-bind-html="item.shareDate"></span></div>
                    <div ng-bind-html="item.displayName | displayNameFilter" class="title"></div>
                    <div ng-bind-html="item.remark ==0 ? '...' : item.remark" class="desc"></div>
                    <ion-option-button class="button-assertive" on-tap="vm.collect.removeMessage(item.id)">删除
                </div>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                immediate-check="false"
                on-infinite="vm.collect.loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

