<ion-view view-title="" cache-view="false">
    <ion-nav-bar class="innerHeader">
        <ion-nav-title>
            {{vm.collect.title}}
        </ion-nav-title>
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ion-refresher
                pulling-text="下拉刷新"
                on-refresh="vm.collect.doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item ng-repeat="res in vm.collect.resourceList" on-hold="vm.collect.onHold(res.id)">
                <div ng-if="res.type == 1"
                     ui-sref="tabs.resourceList({parentId:res.id,title:res.displayName})">
                    {{res.displayName}}
                </div>
                <div ng-if="res.type == 2" on-tap="vm.collect.openModal(res.id,res.title)">{{res.displayName}}
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                immediate-check="false"
                on-infinite="vm.collect.loadMore()"
                distance="1%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
