<ion-view view-title="">
    <ion-nav-bar>
        <ion-nav-title ng-bind="title">

        </ion-nav-title>
        <ion-nav-back-button>
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="res in resourceList" on-hold="onHold(res.id)">
                <div ng-if="res.type == 1"
                     ui-sref="tabs.resourceList({parentId:res.id,title:res.displayName})">
                    {{res.displayName}}
                </div>
                <div ng-if="res.type == 2">{{res.displayName}}</div>
            </li>
        </ul>
    </ion-content>
</ion-view>
